* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v214_578 {
  width: 100%;
  height: 1024px;
  background: url("../images/v214_578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v214_579 {
  width: 100%;
  height: 100%;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v214_580 {
  width: 205px;
  height: 39px;
  background: url("../images/v214_580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 100px;
  overflow: hidden;
}
.v214_581 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  box-shadow: 0px 0px 5px rgba(1, 0.9155929684638977, 0.7798077464103699, 1);
  overflow: hidden;
}
.v214_582 {
  width: 156px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 14px;
  left: 37px;
  font-family: Anek Tamil;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v214_584 {
  width: 164px;
  height: 39px;
  background: url("../images/v214_584.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 733px;
  overflow: hidden;
}
.v214_585 {
  width: 15px;
  height: 15px;
  background: rgba(178,180,183,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v214_586 {
  width: 115px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 15px;
  left: 37px;
  font-family: Anek Tamil;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v214_587 {
  width: 149px;
  height: 39px;
  background: url("../images/v214_587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 909px;
  overflow: hidden;
}
.v214_588 {
  width: 15px;
  height: 15px;
  background: rgba(178,180,183,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v214_589 {
  width: 100px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 15px;
  left: 37px;
  font-family: Anek Tamil;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v214_590 {
  width: 173px;
  height: 39px;
  background: url("../images/v214_590.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1070px;
  overflow: hidden;
}
.v214_591 {
  width: 15px;
  height: 15px;
  background: rgba(178,180,183,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v214_592 {
  width: 124px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 15px;
  left: 37px;
  font-family: Anek Tamil;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v214_593 {
  width: 73px;
  height: 39px;
  background: url("../images/v214_593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1255px;
  overflow: hidden;
}
.v214_594 {
  width: 43px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: Anek Tamil;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v214_596 {
  width: 505px;
  height: 640px;
  background: url("../images/v214_596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 190px;
  overflow: hidden;
}
.v214_658 {
  width: 470px;
  height: 233px;
  background: url("../images/v214_658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 744px;
  overflow: hidden;
}
.v214_599 {
  width: 470px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Anek Tamil;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v214_601 {
  width: 470px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 98px;
  left: 0px;
  font-family: Anek Tamil;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v214_602 {
  width: 470px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 135px;
  left: 0px;
  font-family: Anek Tamil;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v214_603 {
  width: 470px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 220px;
  left: 0px;
  font-family: Anek Tamil;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v214_604 {
  width: 298px;
  height: 63px;
  background: rgba(255,255,255,1);
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 744px;
  overflow: hidden;
}
.v214_605 {
  width: 250px;
  height: 15px;
  background: url("../images/v214_605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v214_606 {
  width: 226px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Anek Tamil;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v214_607 {
  width: 24px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 0px;
  left: 226px;
  font-family: Anek Tamil;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v297_1793 {
  width: 89px;
  height: 40px;
  background: url("../images/v297_1793.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 807px;
  left: 728px;
  overflow: hidden;
}
.v214_609 {
  width: 59px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: Anek Tamil;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v297_1798 {
  width: 206px;
  height: 40px;
  background: url("../images/v297_1798.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 807px;
  left: 856px;
  overflow: hidden;
}
.v214_610 {
  width: 176px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: Anek Tamil;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v297_1799 {
  width: 122px;
  height: 40px;
  background: url("../images/v297_1799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 807px;
  left: 1102px;
  overflow: hidden;
}
.v214_611 {
  width: 92px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: Anek Tamil;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
